body {
    
    background-color: hsl(212,45% ,89% );
    font-family: outfit, sans-serif;
}
img {
    padding: 15px;
    width: 80%;
    border-radius: 10%;
}
article {
    border-radius: 10%;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 500px;
    padding-bottom: 0px;
    width: 20%;
    text-align: center;
}
h1{
    width:   80%;
    margin: auto;
}


.bold {
    font-weight: bold;
    line-height: 1,7;
    
}
p {
    font-size: 20px;
    
    margin-bottom: 0%;
}
